// 标签页样式
.archives-wrap {
  position: relative;
  margin: 0 1.875rem;
  padding-right: 3.75rem;
  border-bottom: 2px solid #2f2f2f;
  color: #999;
  &:first-child{
    margin-top: 1.875rem;
  }
  .archive-year-wrap{
    line-height: 2.1875rem;
    width: 12.5rem;
    position: absolute;
    padding-top: .9375rem;
    font-size: 1.8rem;
  }
  .archives{
    position: relative;
    .archive-article{
      margin-left: 9.375rem;
      padding: 1.25rem 0;
      border-bottom: 1px solid #2f2f2f;
      border-top: 1px solid #2f2f2f;
      position: relative;
      &:first-child{
        border-top: none;
      }
      &:last-child{
        border-bottom: none;
      }
      .archive-article-header{
        position: relative;
        .archive-title-wrap{
        }
        .archive-title{
          a{
            color: #999;
            &:hover{
              color: #fff;
            }
          }
        }
        time{
          font-size: .75rem;
          color: #aaa;
          margin-top: .1875rem;
          cursor: default;
          &:before{
            content: "\f073";
            color: #999;
            position: relative;
            margin-right: .625rem;
            font: .875rem FontAwesome;
          }
        }
      }
    }
  }
}


@media screen and (max-width:800px){
  .archives-wrap{
    margin: 10px 10px 0px;
    padding: 10px 20px 10px 10px;
    .archive-year-wrap{
      position: relative;
      padding: 0 0 0 0;
      a{
        padding: 0 0 0 0;
      }
    }
    .archives{
      .archive-article{
        padding: 10px 0;
        margin-left: 0;
      }
    }
  }
}