.container{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow:hidden;
  // .nav{
  //   -webkit-transition: all 0.2s ease-in;
  //   -moz-transition: all 0.2s ease-in;
  //   -ms-transition: all 0.2s ease-in;
  //   transition: all 0.2s ease-in;
  //   overflow:hidden;
  // }
}
@media screen and (min-width:800px){
  .container .nav{
    display: block;
  }
}
@media screen and (max-width:800px) {
  .container .nav{
    display: none;
  }
}